/*!
global > color
------------------------------
*/
:root {
    --color-primary: #c7a26c;
    --color-primary-light: rgba(199, 162, 108, 0.35);
    --color-bg-primary-light: rgba(199, 162, 108, 0.05);
    --color-link: #4895e6;
}
